body {
    padding: 10px;
}

/* Colors for brand */
.navbar-brand
{
    font-size: 50px;
    font-weight:400;
}
.blue
{
    color: #537fbe;
}
.red
{
    color: #ea433b;
}
.yellow
{
    color: #f5b82e;
}
.green
{
    color: #2e944b;
}