{% extends "auctions/layout.html" %}

{% block body %}
    
    <h2>Create Listing</h2>

        <form action="{% url 'createlisting' %}" method="post">
            {% csrf_token %}
            <div style="width: 50%" class="mt-3">
                <div class="mb-2">
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" type="text" id="title" name="title" placeholder="Title">
                </div>
                <div class="mb-2">
                    <label for="startingbid" class="form-label">Starting Bid</label>
                    <input class="form-control" type="number" min="1" id="startingbid" name="startingbid" placeholder="Starting Bid">
                </div>
                <div class="mb-2">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" id="category" name="category">
                        <option selected>Choose...</option>
                        <option value="Real Estate">Real Estate</option>
                        <option value="Vehicles">Vehicles</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Fashion & Accessories">Fashion & Accessories</option>
                        <option value="Home & Garden">Home & Garden</option>
                        <option value="Hobbies & Leisure">Hobbies & Leisure</option>
                        <option value="Services">Services</option>
                        <option value="Professional Equipment">Professional Equipment</option>
                        <option value="Pets">Pets</option>                    
                        <option value="Other">Other</option>                    
                    </select>
                </div>
            </div>
            <div class="mb-2">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="4" placeholder="Description"></textarea>
            </div>
            <div class="mb-3">
                <label for="image_url" class="form-label">Image URL</label>
                <input class="form-control" type="url" id="image_url" name="image_url" placeholder="Image URL" aria-describedby="imageHelp">
                <small id="imageHelp" class="form-text text-muted">Provide an URL for your item's image (optionnal)</small>
            </div>
            <input class="btn btn-primary mb-2 mt-2" type="submit" value="List Item">
        </form>

{% endblock %}