{% extends "auctions/layout.html" %}

{% block body %}

    <div>
        <div class="row align-items-center">
            <div class="col-md-auto">
                <h2>{{ item.title }}</h2>
            </div>
            <div class="col-md-auto">
                {% if user.is_authenticated %}
                <form action="{% url 'watchlist_button' item.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-secondary btn-sm" value="{{ message }}">
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    <p>Listed by: {{ item.owner }} {{ item.created_at|timesince }} ago.</p>

    <img src="{{ item.image_url }}" alt="item image" class="mb-3" style="height: 300px; width: 100%; object-fit: contain;">

    <hr>

    <h6>Description</h6>
    <p>{{ item.description }}</p>
    <h6>Category: {{ item.category }}</h6>
    
    <hr>
    
    <h6>Starting Bid: <b>{{ item.starting_bid|floatformat:0 }} $</b></h6>

    {% if last_bid %}
    <h6>Last Bid: <b>{{ last_bid.amount|floatformat:0 }} $</b> made by <b>{{last_bid.user }}</b> {{ last_bid.timestamp|timesince }} ago.</h6> 
    {% endif %}   
    
    <p>{{ bid_count }} bid(s) so far.</p>

    <hr>

    {% if user.is_authenticated and request.user != item.owner %}
    <form action="{% url 'placebid' item.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="title" class="form-label"><b>Bid on this Item:</b></label>
            <input class="form-control" type="number" id="bid" name="bid" aria-describedby="addon" placeholder="Bid" min="{{ minimum_bid }}" step="5">
            <div class="form-text" id="addon">{{ your_bid }}</div>
            <input type="submit" class="btn btn-primary btn-md mb-3 mt-3" value="Place Bid">
        </div>
    </form>
    {% endif %}

    {% if request.user == item.owner %}
                <form action="{% url 'close_auction' item.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary btn-sm" value="Close Auction">
                </form>
    {% endif %}

{% endblock %}